.background { 
	background: rgb(52, 166, 251);
}

.block {
	background: rgb(250, 50, 50);
}

.startgame {
	text-align: center;
}

div.game {
	margin: auto;
	width: 400px;
	height: 300px;
	border: 1px solid red;
	position: relative;
	top: 10px;
	left: 10px;
}

div.game_board {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 300px;
	border: 1px solid;
}

div.score_board {	
	position: absolute;
	left: 220px;
	width: 100px;
	height: 100px;
	border: 1px solid;
}

div.preview_board {
	position: absolute;
	left: 220px;
	top: 200px;
	border: 1px solid;
}

div.game_over {
	position: absolute;
	display: none;
	left: 40%;
	top: 30%;
}

p.help {
	position: absolute;
	left: 30%;
	top: 80%;
	text-align: center;
}
