<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/tetris.css">
</head>
<body>
    <div class="wrapper">
        <div class="header border">
            <h1 class="title">T.E.T.R.I.S</h1>
        </div>
        <div class="game border">
            <div class="board border">
                    <p>Game Board</p>
            </div>
            <div class="level border">
                <p><span class="label border">Level: </span><span class="number border">0</span></p>
            </div>
            <div class="score border">
                <p><span class="label border">Score: </span><span class="number border">0</span></p>
            </div>
            <div class="preview border">
                    <p>Preview Board</p>
            </div>
            <div class="game_over border">
                    <p>Game Over</p>
            </div>
        </div>
        <div class="footer">
            <p class="help border">
                    Help
            </p>
        </div>
    </div>
</body>
</html>