<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css/tetris.css">
</head>
<body>
	<div class="wrapper">
		<div class="header border">
			<h1 class="title border">T.E.T.R.I.S</h1>
		</div>
		<div class="menu border">
			<h2 class="border">Start a new game (z)</h3> 
			<h2 class="border">Quit game (x)</h3>
			<br>
			<h3 class="score border">Best score: 0</h3>
		</div>
		<div class="footer border">
			<p class="help border">press z to start and press x to quit.</p>
			<p class="help border">software version 1.0.0</p>
		</div>
	</div>
</body>
</html>