
/* elements */
body {
    font-family: sans-serif;
}

/* for debug */
.border {
    border: 1px solid red;
}

/* basic classes */
.block {
    background: rgb(250, 50, 50);
}

/* header */
.header {
    font-family: serif;
}
.title {
    margin: auto;
    width: 400px;
    text-align: center;
    border: 2px solid black;
}

/* footer */
.footer {
    text-align: center;
}

/* body */

/* start page: menu */
.menu {
    margin: auto;
    position: relative;
    width: 400px;
    text-align: center;
}

.item {
    border: 1px solid white;
}

.item:hover {
    border: 1px solid black;
}

/* game page: game */
.game {
    margin: auto;
    position: relative;
    width: 400px;
    height: 400px;
}

.game .board {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 200px;
    border: 2px solid black;
    border-spacing: 0px;
}

.game .level {
    position: absolute;
    top: 20px;
    left: 240px;
    width: 150px;
}

.game .score {
    position: absolute;
    top: 80px;
    left: 240px;
    width: 150px;
}

.game .label {
    display: inline-block;
    width: 50px;
    font-family: sans-serif;
    font-size: 20px;    
    text-align: right;
    padding-right: 10px;
}

.game .number {
    display: inline-block;
    width: 70px;
    font-family: sans-serif;
    font-size: 20px;        
    text-align: right;
    padding-right: 10px;
}

.game .preview {
    position: absolute;
    bottom: 100px;
    left: 280px;
    border: 2px solid black;
}

.game .game_over {
    position: absolute;
    display: none;
    left: 30%;
    top: 30%;
}
